@import url("./root-var.css");

html {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  /*background: linear-gradient(rgba(203 114 233) 0%, rgb(122 167 233) 65%, rgb(203 114 233) 100%);*/
  background: #6b6b6b;
  transition: background 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

.app {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.bg,
.bw-doc {
  max-width: 1300px;
}

.bg {
  width: 100%;
  display: block;
  margin: 50px auto 200px;
  box-shadow: rgb(0 0 0) 0px 0px 100px 0px;
  border-radius: 50px;
  background: linear-gradient(rgba(203 114 233) 0%, rgb(122 167 233) 65%, rgb(203 114 233) 100%);
}

.bw-doc {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.mid {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  max-height: 720px;
}

.text-footer p {
  text-indent: 0;
  font-size: 11px;
}

@media screen and (min-width: 1300px) {
  .text-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 1300px) {
  .mid {
    max-height: unset;
  }

  .text-contacts {
    display: inline;
  }

  .text-footer {
    display: grid;
    justify-items: center;
    align-content: stretch;
    align-items: center;
  }
}

@media screen and (max-width: 1166px) {
  .cscroll {
    overflow: hidden;
    height: auto;
  }

  .mid {
    flex-wrap: wrap;
    height: 100%;
    min-height: 450px;
  }

  .text-footer {
    margin-top: 7px;
  }

  #mobile_image {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #00000026;
}
:-webkit-scrollbar-track {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6b6b6b;
}
::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
}
