.header {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-bottom: 0px;
}

#brand_image {
  margin-top: 10px;
}

#header_icons {
  width: 150px;
  margin-top: 5px;
  display: flex;
  text-align: center;
  align-items: center;
}

#header_icons svg {
  display: block;
}

#ico_main_page,
#ico_about_page {
  display: block;
  flex-grow: 1;
}

@media screen and (max-width: 1300px) {
  .header {
    padding-top: 15px;
  }

  #mobile_image {
    display: none;
  }
}

@media screen and (max-width: 978px) {
  #brand_image img {
    height: 60px;
  }

  #ico_main_page {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .header {
    padding-top: 0px;
    justify-content: space-between;
  }

  #brand_image img {
    margin: 10px 0;
    width: 153px;
    height: 40px;
  }

  #header_icons {
    flex-grow: 0;
    width: 50px;
  }

  #ico_about_page {
    padding-top: 4px;
    width: 50px;
    flex-grow: 0;
  }

  #mobile_image {
    display: flex;
  }
}
