.mainnav {
  margin-bottom: 10px;
}

li[class^="mainnav"] {
  background: linear-gradient(0deg, #d9d9d9 0%, #ebebeb 100%);
}

.mainnav-header {
  display: flex;
  height: 22px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.6;
}

.mainnav-bottom {
  display: flex;
  font-size: 10px;
  height: 100%;
  color: black;
}

.mainnav-bottom ul {
  display: flex;
  flex-grow: 1000;
  list-style-type: none;
  height: 41px;
  padding: 0;
  margin: 0;
}

.mainnav-bottom li {
  text-align: center;
  position: relative;
}

.mainnav-bottom a {
  text-decoration: none;
  color: inherit;
}

.nav-footer {
  height: 2px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .mainnav-bottom {
    flex-direction: column;
  }

  .mainnav-header {
    display: none;
  }
}
@media screen and (max-width: 1166px) {
  .mainnav-bottom {
    flex-direction: column;
  }

  .mainnav-header {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .mainnav-bottom {
    display: none;
  }
}
