:root {
  --color-production: #99cc33;
  --color-service: #6699ff;
  --color-support: #9900cc;
  --color-wholesale: #ff6600;
  --color-production-cloudy: #d5eaac;
  --color-service-cloudy: #c1d6ff;
  --color-support-cloudy: #d69aea;
  --color-wholesale-cloudy: #ffc19a;
}
